*{
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #8383AD;
  font-family: 'PTMono';
}

h1 {
  color: white;
  font-size: 3vw;
  margin: 3.84vw 0 0 8.25vw;
  position: absolute;
}

h2 {
  color: white;
  font-size: 2vw;
  margin: 3.84vw 0 0 71.8vw;
  position: absolute;
}

h3 {
  color: white;
  font-size: 2vw;
}

h4 {
  color: white;
  font-size: 1.3vw;
}

section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.block{
  display: block;
  background: url(../source/panelback.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
}

.none {
  display: none;
  background: url(../source/panelback2.svg);
  background-position: center;
  background-repeat: no-repeat;
}

button:hover {
  cursor: pointer;
}

.btn1 {
  width: 18.5vw;
  height: 3vw;
  position: absolute;
  background: none;
  border: 0.09rem solid white;
  color: white;
  font-size: 1.56vw;
  border-radius: 10rem;
  font-family: 'PTMono';
}

.btn1:hover {
  border: 0.09rem solid #C40000;
  color: #C40000;
}

.btn1:active{
  border: none;
  color: white;
  background-color: #C40000;
}

.choosebtn {
  margin: 17.6vw 0 0 16.8vw;
}

.createbtn {
  margin: 17.6vw 0 0 61vw;
}

.rotation {
  width: 55vw;
  height: 21vw;
  position: relative;
  margin: 26vw 0 0 50vw;
}

.rtrn {
  border: none;
  color: white;
  position: absolute;
  background: none;
  font-size: 1.56vw;
  font-family: 'PTMono';
  margin: 3.67vw 0 0 14.25vw;
  text-decoration: underline;
}

.rtrn:hover {
  color: #C40000;
  text-decoration: none;
}

.rtrn:active {
  color: #C40000;
  text-decoration: underline;
}

.rotate {
  width: 27.5vw;
  height: 21vw;
  border: 0.094rem solid #C40000;
  border-radius: 50%;
  transform-origin: left center; 
  animation: spin 4.5s linear infinite;
  transform-style: preserve-3d; 
  position: absolute;
}

.rot2 {
  animation-delay: 0.5s;
}

.rot3 {
  animation-delay: 1s;
}

.rot4 {
  animation-delay: 1.5s;
}

.rot5 {
  animation-delay: 2s;
}

.rot6 {
  animation-delay: 2.5s;
}

.rot7 {
  animation-delay: 3s;
}

.rot8 {
  animation-delay: 3.5s;
}

.rot9 {
  animation-delay: 4s;
}

.wave {
  width: 12.76vw;
  height: 14.583vw;
  position: absolute;
  margin: 33.7vw 0 0 79vw;
  overflow: hidden;
  text-align: center;
}

.wave img {
  width: 12.76vw;
}

.slashanimation2 {
  width: 1.4vw;
  height: 9vw;
  position: absolute;
  margin: -6.3vw 0 0 93vw;
}

.slashanimation img{
  position: absolute;
  width: 1.4vw;
}

.choosingbuttons {
  margin: 16.3vw 0 0 11vw;
  display: grid;
  grid-template-columns: repeat(3, 18.5vw);
  grid-template-rows: repeat(3, 3vw);
  gap: 4.896vw 12vw;
}

.edt {
  margin: 40.5vw 0 0 41.3vw;
}

.rotation2{
  width: 79vw;
  height: 35.2vw;
  position: relative;
  margin: 10.496vw 0 0 50vw;
}

.rotate2 {
  width: 39.5vw;
  height: 35.2vw;
  border: 0.09rem solid #C40000;
  border-radius: 50%;
  transform-origin: left center; 
  animation: spin 4.5s linear infinite;
  transform-style: preserve-3d; 
  position: absolute;
}
